body {
  background-color: #e0ebe8;
  font-size: 14px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  color: #45b29a;
}

ul {
   padding-top: 1.5em;
    list-style-type: none;
   float: right;
  margin-right: 100px;
}
li {
  float: left;
  padding: 30px;
  font-size: 20px;
}
h1 {

  font-family: 'Chilanka', cursive;
}
p {

}
.About {
  color: #21564b;
   text-decoration: none;
}
.decoration {
  text-decoration: none;
}
.top-container {
  padding-bottom: 50px;

}
.face-img {
 position: relative;
 right: 380px;
 top: 20px;

}
.middle-container {
  padding-bottom: 80px;
  padding-top: 80px;


  margin-top: 30px;
}
.first-cloud-img {
position: relative;
bottom: 5px;
left: 500px;
top : 100px;


}
.second-cloud-img {
position:relative;
top: 200px;
right: 500px;
}
.bp-container {
  box-sizing: border-box;
}
.bottom-container {
    max-width: 511.997px;
    margin: 0 auto;
}
.article-container {
  box-sizing: border-box;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.article {
  max-width: 460px;
  margin: 0 auto;
}
.article figure {
  max-width: 150px;
  margin: 0 auto;
}
figure img {
  width: 100%;
   vertical-align: middle;
}
article h3{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding bottom: 14px;
  font-weight: 500;
  background: #e0ebe8;
}
article p {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0 0 10px;
    line-height: 2;
}
.line-div {
   box-sizing: border-box;
 }
.line {
  max-width: 100px;
  margin: 0 auto;
}
.line-div .line img {
width: 100%;



}
.What-div {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 70px;
}
.second-article {
  max-width: 700px;
  margin: 0 auto;


}
.What-div header h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color:  #1e836c;
  font-size: 3.8em;
  font-weight: 400;
}
.Design {
  font-size: 2em;
}
.top-section {
  margin-top: 50px;

}
.top-section img {
  float: left;
  padding-right: 50px;
  width: 27%;


}
.bottom-section img {
  float: right;
  width: 27%;
  padding-left: 100px;

}
.bottom-section {
  margin-top: 100px;
}
.last-div {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 100px;
}
.last-div article {
  max-width: 800px;
  margin: 0 auto;
}
.last-div h2 {
  font-size: 3.8em;
  font-weight: 500;
}
.last-div h3 {
  font-size: 2.5em;
}
.last-div header {
  max-width: 750px;
  margin: 0 auto;
}
.last-div aside {
  max-width: 750px;
  margin: 0 auto;
}
footer {
  background-color: #c5ded7;
  margin-top: 50px;

}
.footer-div {
  max-width: 970px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

}

.footer-font {
  font-size: 1.7em;
  text-decoration: none;
  padding: 15px;
    color: #45b29a;
}
#footer-p {
    color: black;

}

.myButton {
	background-color:#44c767;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
